link(rel="stylesheet", href="app.css", data-inline)

p Hi #{lwayerName},

p A new case was assigend to you, case details:  .
br
p customer name: #{userName}
p assigment side: #{side}
p customer phone number: #{userPhone}
p deal final price: #{investment}
P please contact your customer, and check your operations on the site
table
  tr
    td(class="button")
      a(href=projectLink)
        b Project Details
p
  | Thanks,#[br]
  | Brikoin Team
img(class="logo" src="cid:BrikoinLogo")